.homeimg{
  width: 500px;
  height: 200px;
}
.homepage{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.cen{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
@media (max-width:375px) {
  .homeimg{
    width: 300px;
  }
}